<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117346995192-a5oduq2lebd78jub1ininmpssgif6a2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117346995192-a5oduq2lebd78jub1ininmpssgif6a2r</string>
	<key>API_KEY</key>
	<string>AIzaSyAe3TT2jMOO3kl_EVop361O8l85CdrK8uY</string>
	<key>GCM_SENDER_ID</key>
	<string>117346995192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.jayramirez.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios-efbc4</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios-efbc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117346995192:ios:f009efd1eebfbe1912640d</string>
</dict>
</plist>